@model StaffPortal.Controllers.LoginPartialViewModel

@if (User.Identity.IsAuthenticated)
{
   ViewBag.UserName = Model.Name;
   ViewBag.UserId = Model.Id;
   <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         <img src="@Url.Content("~/Images/UserImages/" + Model.Id + ".jpg")" class="user-image" alt="User Image" />
         <span class="hidden-xs">@User.Identity.Name</span>
      </a>
      <ul class="dropdown-menu">
         <!-- User image -->
         <li class="user-header">
            <img src="@Url.Content("~/Images/UserImages/" + Model.Id + ".jpg")" class="img-circle" alt="User Image" />
            <p>
               @Model.Name
               <small>@Model.Department</small>
            </p>
         </li>
         <!-- Menu Body -->
         <li class="user-body">
            <div class="col-xs-4 text-center">
               <a href="#">Followers</a>
            </div>
            <div class="col-xs-4 text-center">
               <a href="#">Sales</a>
            </div>
            <div class="col-xs-4 text-center">
               <a href="#">Friends</a>
            </div>
         </li>
         <!-- Menu Footer-->
         <li class="user-footer">
            <div class="pull-left">
               <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
               <form method="post" action="@Url.Action("LogOff", "Account")">
                  @Html.AntiForgeryToken()
                  @*<a href="@Url.Action("LogOff", "Account")" class="btn btn-default btn-flat">Sign out</a>*@
                  <input type="submit" class="btn btn-default btn-flat" value="Sign Out" />
               </form>

            </div>
         </li>
      </ul>
   </li>
}
else
{

   <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         <span class="hidden-xs">Login</span> <i class="fa fa-sign-in"></i>
      </a>

      <ul class="dropdown-menu">
         <!-- Login header -->
         <li class="user-header" style="height: auto">
            <p style="margin: 0">
               Log In
            </p>
         </li>
         <!-- Login Body -->
         <li class="user-body">
            <form method="post" action="@Url.Action("LogIn", "Account")">
               <div class="col-xs-12">
                  <div class="form-group">
                     <label for="email" class="label" style="color: #3c8dbc">Email</label>
                     <input type="text" name="email" id="email" class="form-control" />
                  </div>
               </div>
               <div class="col-xs-12">
                  <div class="form-group">
                     <label for="password" class="label" style="color: #3c8dbc">Password</label>
                     <input type="password" name="password" id="password" class="form-control" />
                  </div>
               </div>
               <div class="col-xs-12">
                  @Html.AntiForgeryToken()
                  <input type="submit" class="btn btn-default btn-flat" value="Log In" style="float: right; margin-top: 10px;" />
               </div>
            </form>
         </li>
      </ul>

   </li>

}
