@model StaffPortal.Models.ViewModels.SideBarViewModel
@{
    Layout = null;
    string route = ((System.Web.Routing.Route)ViewContext.ParentActionViewContext.RouteData.Route).Url;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@(route == "calendar" ? "active" : "")">
                <a href="@Url.Action("Calendar", "Home")">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="@(route == "userpanel" ? "active" : "")">
                    <a href="@Url.Action("UserPanel", "Home")">
                        <i class="fa fa-user"></i> <span>User Panel</span>
                    </a>
                </li>

               <li class="@(route.StartsWith("messages") ? "active" : "")">
                  <a href="@Url.Action("Messages", "Home", new { Section = "inbox" })">
                     <i class="fa fa-envelope-o"></i> <span>Messages</span>
                     @if (Model.UnreadMessages > 0)
                     {
                        <small class="label pull-right bg-red" id="unreadmessagecount">@Model.UnreadMessages</small>
                     }
                     
                  </a>
               </li>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
            {
                <li class="header">SUPERVISOR TOOLS</li>
                <li class="@(route == "supervisor/pending" ? "active" : "")">
                    <a href="@Url.Action("Pending", "Supervisor")">
                        <i class="fa fa-calendar-check-o"></i> Pending Requests
                        @if (Model.PendingHolidaysForSupervisor > 0)
                        {
                            <small class="label pull-right bg-red">@Model.PendingHolidaysForSupervisor</small>
                        }                      
                    </a>
                </li>
               <li class="@(route == "supervisor/sickness" ? "active" : "")">
                  <a href="@Url.Action("Sickness", "Supervisor")">
                     <i class="fa fa-user-md"></i> Manage Sicknesses
                  </a>
               </li>

            }
            @if (User.IsInRole("Admin"))
            {
                <li class="header">ADMIN TOOLS</li>
                <li class="treeview @(route.StartsWith("admin/users") ? "active" : "")">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>Manage Users</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@(route == "admin/users/add" ? "active" : "")">
                            <a href="@Url.Action("AddNewUser", "Admin")"><i class="fa fa-user-plus"></i> Add New</a>
                        </li>
                        <li class="@(route.Contains("admin/users/edit") ? "active" : "")">
                            <a href="@Url.Action("ViewUsers", "Admin")"><i class="fa fa-pencil-square-o"></i> Edit Existing</a>
                        </li>
                    </ul>
                </li>
               <li class="@(route == "admin/settings" ? "active" : "")">
                  <a href="@Url.Action("EditSettings", "Admin")">
                     <i class="fa fa-cogs"></i> App Settings
                  </a>
               </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
