@model List<StaffPortal.Business.Alert>
@{
    Layout = null;
}

<li class="dropdown notifications-menu">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-bell-o"></i>
      @if (Model.Any())
      {
         <span class="label label-warning alert-count">@Model.Count</span>
      }     
   </a>
   <ul class="dropdown-menu">
      <li class="header">You have <span class="alert-count">@Model.Count</span> alerts</li>
      <li>
         <ul class="menu">
            @foreach (var alert in Model)
            {
               <li data-alertid="@alert.Id">
                  <a>
                     <i class="fa fa-warning text-yellow"></i> @alert.Created.ToLocalTime().ToShortDateString() - @alert.Created.ToLocalTime().ToShortTimeString()    
                     <i class="fa fa-times pull-right text-yellow alert-dismiss"></i>                
                     <div style="white-space: normal">
                        @alert.Message
                     </div>                
                  </a>
               </li>
            }
         </ul>
      </li>
      
   </ul>
</li>