@model StaffPortal.Models.LoggedInStaffMember
@{
    ViewBag.Title = "Calendar";
}

<div class="row">
   <section class="col-md-8">
      <div class="box box-primary">
         <div id="calendar"></div>
      </div>
   </section>
   <section class="col-md-4">
      <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="info-box">
               <span id="newholiday" class="info-box-icon bg-blue" data-toggle="modal" data-target="#addHoliday"><i class="fa fa-calendar-plus-o"></i></span>
               <div class="info-box-content">
                  <span class="info-box-text">Book a Holiday</span>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="info-box bg-green">
               <span class="info-box-icon"><i class="fa fa-calendar-o"></i></span>
               <div class="info-box-content">
                  <span class="info-box-text">Holidays (Approved)</span>
                   <span class="info-box-number">@Model.HolidaysBooked days</span>
                  <!-- The progress section is optional -->
                  <div class="progress">
                     <div class="progress-bar" style="width: @((Model.HolidaysBooked/20d)*100)%"></div>
                  </div>
                  <span class="progress-description">
                     Total allowance: @Model.MaximumHolidays
                  </span>
               </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
         </div>

         <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="info-box bg-yellow">
               <span class="info-box-icon"><i class="fa fa-calendar-o"></i></span>
               <div class="info-box-content">
                  <span class="info-box-text">Holidays (pending)</span>
                   <span class="info-box-number"><span id="pendingdays">@Model.HolidaysPending</span> days</span>
               </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
         </div>

      </div>
   </section>
   <div class="modal fade" id="addHoliday" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header bg-light-blue">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="addHoliday-label">Book a Holiday</h4>
            </div>
            <div class="modal-body">
               <form id="holidaybookingform">
                  <div class="row">
                     <div class="form-group col-sm-6">
                        <label for="start" class="control-label">Start Date</label>
                        <input type="date" class="form-control" name="start" id="start"/>
                     </div>
                     <div class="form-group col-sm-6">
                        <label for="end" class="control-label">Return to Work</label>
                        <input type="date" class="form-control" name="end" id="end"/>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <span id="holidaymessage"></span>
                        <input type="submit" class="btn btn-primary pull-right" id="holidayformsubmit"/>
                     </div>
                  </div>                  
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

@section Styles {
   <link href="~/Scripts/AdminLTE/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
   <style>
      .fc-event {
         background-color: #00c0ef;
      }

      [data-toggle=modal]:hover {
         cursor: pointer;
      }
   </style>
}

@section Scripts {
   <script src="~/Scripts/AdminLTE/plugins/fullcalendar/fullcalendar.min.js"></script>
   <script>
$(document).ready(function() {
   $("#calendar").fullCalendar({
      allDayDefault: true,
      eventSources: [
         {
            url: '/calendar/bookeduserholidays',
            type: 'GET',
            data: {staffId: @(Model.Id)},
            error: function () {
               alert('there was an error while fetching events!');
            },
            color: '#00a65a',
            textColor: 'white'
         },
         {
            url: '/calendar/pendinguserholidays',
            type: 'GET',
            data: {staffId: @(Model.Id)},
            error: function () {
               alert('there was an error while fetching events!');
            },
            color: '#f39c12',
            textColor: 'white'
         },
         {
            url: '/calendar/companyholidays',
            type: 'GET',
            error: function () {
               alert('there was an error while fetching events!');
            },
            color: '#00c0ef',
            textColor: 'white'
         },
        {
            url: '/calendar/holidayinsamedepartment',
            type: 'GET',
            data: {staffId: @(Model.Id)},
            error: function () {
                alert('there was an error while fetching events!');
            },
            color: '#ee0000',
            textColor: 'white'
        }
      ]
   });

   $("#holidayformsubmit").click(function() {
      $("#holidayformsubmit").attr("disabled", true);
      var formContents = $("#holidaybookingform").serialize();

      $.post("/calendar/bookholiday", formContents)
         .done(function() {
            $("#holidaymessage").css("color", "green");
            $("#holidaymessage").text("Holiday requested OK");
            $("#calendar").fullCalendar("refetchEvents");
              $.getJSON("/calendar/holidaytotals", {staffId: @Model.Id})
                  .done(function(data) {
                      $("#pendingdays").text(data.pending);
                  });
          })
         .fail(function(jqXHR, textStatus) {
            $("#holidaymessage").css("color", "red");
            $("#holidaymessage").text(JSON.parse(jqXHR.responseText).message);
            $("#holidayformsubmit").attr("disabled", false);
         });

      return false;
   });

   $("#newholiday").click(function() {
      $("#holidayformsubmit").attr("disabled", false);
      $("#holidaymessage").text("");
   });
});

   </script>
}

