@model StaffPortal.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Manage Users > Add New";
}

<div class="box box-primary">
    @using (Html.BeginForm("AddNewUser", "Admin", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        <div class="box-header with-border">
            <h4 class="box-title">New Staff Member</h4>
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})

           <fieldset>
              <legend>Login Details</legend>
              <div class="form-group">
                 @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                 </div>
              </div>
           </fieldset>

           <fieldset>
              <legend>Personal Details</legend>
              <div class="form-group">
                 @Html.LabelFor(m => m.FirstNames, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstNames, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                 </div>
              </div>
           </fieldset>


           <fieldset>
              <legend>Address:</legend>
              <div class="form-group">
                 @Html.LabelFor(m => m.Address1, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.Address2, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.PostCode, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.County, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.County, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                 </div>
              </div>
           </fieldset>



           <fieldset>
              <legend>Employment Details</legend>
              <div class="form-group">
                 @Html.LabelFor(m => m.DepartmentId, "Department", new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.DropDownListFor(m => m.DepartmentId, Model.Departments, new { @class = "form-control" })
                 </div>
              </div>
              <div class="form-group">
                 @Html.LabelFor(m => m.RoleName, "Role", new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                    @Html.DropDownListFor(m => m.RoleName, Model.Roles, new { @class = "form-control" })
                 </div>
              </div>
           </fieldset>

        </div>
        <div class="box-footer">
            <input type="reset" class="btn btn-default" value="Cancel" />
            <input type="submit" class="btn btn-primary pull-right" value="Register"/>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


