@model StaffPortal.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Manage Users > Add New";
}

<div class="box box-primary">
    @using (Html.BeginForm("AddNewUser", "Admin", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        <div class="box-header with-border">
            <h4 class="box-title">New Staff Member</h4>
        </div>
      <div class="box-body">
         @Html.AntiForgeryToken()

         <fieldset>
            <legend>Login Details</legend>
            <div class="form-group">
               @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
               </div>
            </div>
         </fieldset>

         <fieldset>
            <legend>Personal Details</legend>
            <div class="form-group">
               @Html.LabelFor(m => m.FirstNames, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.FirstNames, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.FirstNames, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.EditorFor(m => m.DateOfBirth, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
               </div>
            </div>
         </fieldset>


         <fieldset>
            <legend>Address:</legend>
            <div class="form-group">
               @Html.LabelFor(m => m.Address1, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.Address2, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.PostCode, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.PostCode, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.County, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.County, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.County, "", new { @class = "text-danger" })
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
                  @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
               </div>
            </div>
         </fieldset>



         <fieldset>
            <legend>Employment Details</legend>
            <div class="form-group">
               @Html.LabelFor(m => m.DepartmentId, "Department", new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.DropDownListFor(m => m.DepartmentId, Model.Departments, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
               </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.RoleName, "Role", new { @class = "col-md-2 control-label" })
               <div class="col-md-6">
                  @Html.DropDownListFor(m => m.RoleName, Model.Roles, new { @class = "form-control" })
               </div>
               <div class="col-md-4">
               </div>
            </div>
         </fieldset>


         <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
               <input type="reset" class="btn btn-default" value="Reset form" />
               <input type="submit" class="btn btn-primary pull-right" value="Register" />
            </div>
         </div>
      </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


