@model StaffPortal.Models.ViewModels.EditMemberViewModel

@{
    ViewBag.Title = "Manage Users > Edit Existing";
}
<div class="box box-primary">

    <form action="@Url.RouteUrl("saveuserchanges")" method="post">
        <div class="box-header with-border">
            <h3 class="box-title">Edit User</h3>
        </div>
        <div class="box-body">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstNames, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstNames, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstNames, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                  </div>
               </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                  </div>
               </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                  </div>
               </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                  </div>
               </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                  </div>
               </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
                  </div>
               </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.PostCode, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
                  </div>
               </div>

               <div class="form-group">
                  @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                  <div class="col-md-10">
                     @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                  </div>
               </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.DepartmentName, Model.Departments, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.RoleName, Model.Roles, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <a href="@Url.Action("ViewUsers")" class="btn btn-default">Cancel</a>
            <input type="submit" value="Save Changes" class="btn btn-primary pull-right" />
        </div>
    </form>

</div>

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
